<div class="parent">
<div class="">
    <ul>
        <li><a routerLink="/login">LogIn</a> </li>
        <li><a routerLink="/login">LogOut</a> </li>
        <li><a routerLink="/sign-up">SignUp</a> </li>
    </ul>
</div>
    <div class="form-group w-50">
        <input type="text" placeholder="search for your items" class="form-control ">
    </div>
<ul>
    <li><a routerLink="/dashboard">Home</a> </li>
    <li><a routerLink="/product-list">Cart</a> </li>
    <li><a routerLink="/create-item">Add To List</a> </li>
</ul>
</div>

<div>
    <h5 class="text-center mt-4">Categories</h5>
    <div class="d-flex m-3">
        <div class="m-4 cursor-pointer">
            <p class="mb-0">Electronics</p>
            <img src="../../../assets/Electronics.jpg" alt="" height="80" width="80">
        </div>
        <div class="m-4 cursor-pointer">
            <p class="mb-0">Clothes</p>
            <img src="../../../assets/clothes.webp" alt="" height="80" width="80">
        </div>
        <div class="m-4 cursor-pointer">
            <p class="mb-0">HandBangs</p>
            <img src="../../../assets/handbags.jpg" alt="" height="80" width="80">
        </div>
        <div class="m-4 cursor-pointer">
            <p class="mb-0">Toys</p>
            <img src="../../../assets/toys.jpg" alt="" height="80" width="80">
        </div>
        <div class="m-4 cursor-pointer">
            <p class="mb-0">Groceries</p>
            <img src="../../../assets/grocires.jpg" alt="" height="80" width="80">
        </div>
    </div>
    

</div>



<div>
    <h5 class="text-center mt-4">List of Selected Items</h5>
</div>